.DS_Store
/.conda
__pycache__
/datasets/synapse_data
.ipynb_checkpoints
desktop.ini
data/Synapse
lists/lists_Synapse
download_token.py
runs
datasets/RawData
predictions
utils/__pycache__
datasets/RawData.zip